@font-face {
    font-family: Lexend Deca;
    src: url(../font/LexendDeca-VariableFont_wght.ttf);
}

*, html {
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: #F8F9FD;
}

a {
    text-decoration: none;
}

.admin-container {
    width: 100%;
    display: flex;
    gap: 3%;
}

.admin-left {
    width: 18%;
}

.admin-right {
    padding: 20px;
    width: 76%;
    background-color: #F8F9FD;
}

.sidebar-container {
    padding: 20px;
    width: 18%;
    position: fixed;
    height: 100vh;
    background-color: white;
    border: 1px solid #E3EBEE; 
    box-shadow: -93px 6px 9px -5px rgba(0, 0, 0, 0.25);
}

.sidebar-logo {
    width: 100%;
}

.sidebar-logo img {
    width: 60%;
}

.menu-container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-wrapper-active {
    background-color: #F49D1A;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.menu-wrapper {
    border-radius: 10px;
    padding: 15px;
    color: #505050;
    cursor: pointer;
}

.menu-wrapper:hover {
    background-color: #eaeaea;
}

/* Dashboard */

.dashboard {
    width: 100%;
}

.dashboard-stats-container {
    display: flex;
    gap: 1.3%;
    height: 100%;
}

.stats-container {
    color: #505050;
    padding: 20px;
    padding-bottom: 20px;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #E3EBEE; 
    box-shadow: 0px 0px 39.9px 0px rgba(0, 0, 0, 0.03);
}

.stats-header {
    display: flex;
    justify-content: space-between;
}

.stats {
    width: 100%;
    height: 90%;
}

.select-stats {
    padding: 3px 10px;
    background-color: transparent;
    border: none;
    color: #505050;
    cursor: pointer;
}

.sales-total-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

.sales-month {
    padding: 20px;
    color: #505050;
    background-color: rgb(255, 255, 255);
    height: 35%;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #E3EBEE; 
    box-shadow: 0px 0px 39.9px 0px rgba(0, 0, 0, 0.03);
}

.sales-month-header {
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.sales-month-header img {
    width: 14%;
}

.sales-month-header div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sales-month-total {
    font-weight: 400;
    color: #F49D1A;
}

.sales-detail {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sales-detail div {
    display: flex;
    justify-content: space-between;
}

.sales-today {
    padding: 20px;
    color: #505050;
    background-color: rgb(255, 255, 255);
    height: 35%;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #E3EBEE; 
    box-shadow: 0px 0px 39.9px 0px rgba(0, 0, 0, 0.03);
}

.sales-table-container {
    padding: 20px;
    margin-top: 3%;
    height: 30vh;
    border-radius: 10px;
    border: 1px solid #E3EBEE; 
    box-shadow: 0px 0px 39.9px 0px rgba(0, 0, 0, 0.03);
    background-color: white;
}

.stats-table-header {
    display: flex;
    justify-content: space-between;
}

.stats-table-menu {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}

.stats-table-menu div {
    display: flex;
    justify-content: space-between;
}
